* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.banner {
	background: rgb(249, 249, 255);
}

.shadow {
	width: 100%;
	position: absolute;
	top: 0;
	fill: rgba(38, 43, 219, 1);
	z-index: 1;
}

.banner-img {
	width: 100%;
	height: 938px;
	background-size: no-repeat;
	position: absolute;
	top: 0;
	z-index: 2;
}

.overlay {
	width: 100%;
	position: absolute;
	top: 0;
	fill: rgba(38, 43, 219, 0.43);
	z-index: 3;
}

.mask {
	display: none;
}

.content {
	margin: 0 auto;
	display: flex;
	justify-content: flex-start;
	width: 1620px;
}

.content-container {
	z-index: 3;
	display: flex;
	justify-content: flex-start;
	align-items: top;
}

.description {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	margin-top: 85px;
	margin-left: 10px;
	width: 686px;
}

.description h1 {
	font-size: 55px;
	font-weight: 500;
	line-height: 73px;
}

.description p {
	width: 100%;
	font-size: 24px;
	font-weight: 400;
	margin-top: 30px;
	font-family: 'Roboto';
	line-height: 32px;
}

.description button {
	width: 250px;
	height: 88px;
	margin-top: 30px;
	font-size: 24px;
	font-weight: 600;
	border-radius: 15px;
}

.content-container img {
	margin-left: 60px;
}

@media screen and (max-width: 414px) {
	.banner {
		width: 100vw;
		overflow: hidden;
		position: relative;
		margin-top: -100px;
	}

	.shadow {
		display: none;
	}

	.banner-img {
		background-size: 950px auto;
		background-position: -270px -330px;
	}

	.mask {
		position: absolute;
		display: block;
		top: 1px;
		z-index: 10;
		fill: rgb(249, 249, 255);
	}

	.content-container {
		width: 100vw;
		display: flex;
		flex-direction: column;
		z-index: 20;
		align-items: center;
	}

	.description {
		width: 362px;
		text-align: center;
		margin-top: 230px;
	}

	.description h1 {
		font-size: 30px;
		line-height: 39px;
	}

	.description p {
		font-size: 16px;
		line-height: 21px;
	}

	.description button {
		font-size: 20px;
		height: 60px;
	}

	.content-container img {
		width: 300px;
		margin-left: 0px;
	}
}
