.why {
	width: 100%;
	display: flex;
	flex-direction: row;
	position: relative;
	background: rgb(249, 249, 255);
	/* border: 1px solid black; */
}

.why-container {
	width: 1620px;
	margin: 0 auto;
	margin-top: 200px;
}

.polygon {
	position: absolute;
	top: 470px;
	left: 0;
	z-index: 1;
}

.why-head {
	width: 849px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

.why h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 55px;
}

.why p {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	margin-top: 30px;
	line-height: 32px;
	color: rgb(112, 112, 112);
}

.why-content {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.why-img {
	z-index: 2; /*iphone image is above polygon*/
	margin-right: 80px;
}

.why-content-text {
	width: 810px;
}

.why-content-text h1 {
	width: 376px;
	font-size: 42px;
	/* line-height: 60; */
}

.why-get-more {
	width: 245px;
	height: 73px;
	background: rgba(38, 43, 219, 1);
	color: #fff;
	font-size: 24px;
	font-weight: 500;
	border-radius: 15px;
	margin-top: 30px;
}

@media screen and (max-width: 414px) {
	.why {
		width: 100vw;
	}

	.why-container {
		width: 100vw;
		display: flex;
		flex-direction: column;
		margin-top: 50px;
	}

	.polygon {
		width: 340px;
		top: 265px;
		left: -50px;
	}

	.why-head {
		width: 100%;
	}

	.why h1 {
		font-size: 34px;
	}

	.why p {
		font-size: 16px;
		margin-top: 30px;
		line-height: 25px;
	}

	.why-content {
		width: 100vw;
		flex-direction: column;
	}

	.why-content-text {
		width: 90vw;
		text-align: left;
	}

	.why-content-text h1 {
		width: 100%;
		text-align: center;
	}

	.why-img {
		width: 300px;
		z-index: 2; /*iphone image is above polygon*/
		margin-right: 0px;
	}
}
