.work {
	width: 1620px;
	margin: 0 auto;
	background: rgb(249, 249, 255);
}

.work-container {
	width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.work-container h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 55px;
	margin-bottom: 30px;
}

.work-container > p {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	margin-bottom: 50px;
	width: 849px;
	line-height: 32px;
	color: rgb(112, 112, 112);
}

.form {
	width: 1000px;
	height: 928px;
	background: rgb(51, 54, 151);
	color: #fff;
	text-align: left;
	border-radius: 25px;
	margin-bottom: 50px;
	padding: 60px;
	position: relative;
}

.form h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 34px;
	margin-bottom: 25px;
}

.form p {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

.input-field {
	position: relative;
	height: 50px;
	margin-top: 25px;
	padding-top: 8px; /*check if needed*/
}

.input-field label {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	/* margin-top: 15px; */
}

.input {
	width: 650px;
	height: 50px;
	border-radius: 25px;
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	padding-left: 30px;
	position: absolute;
	top: 0;
	left: 220px;
}

.select-placeholder {
	color: rgb(112, 112, 112);
}

.form .note {
	width: 650px;
	margin-left: 220px;
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	line-height: 20px;
}

.input-icon {
	position: absolute;
	top: 15px;
	right: 30px;
	font-size: 20px;
	color: rgb(112, 112, 112);
}

.textarea {
	resize: none;
	height: 181px;
	padding-top: 15px;
}

.send {
	width: 129px;
	height: 50px;
	border-radius: 25px;
	position: absolute;
	bottom: 65px;
	right: 80px;
	background: rgb(51, 54, 151);
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	font-weight: 600;
}

select {
	-moz-appearance: none; /* Firefox */
	-webkit-appearance: none; /* Safari and Chrome */
	appearance: none;
	color: rgb(112, 112, 112);
}

option:not(:first-of-type) {
	color: black;
}

@media screen and (max-width: 414px) {
	.work {
		width: 100vw;
		padding-top: 100px;
	}

	.work-container {
		width: 95vw;
	}

	.work-container h1 {
		font-size: 34px;
	}

	.work-container > p {
		font-size: 16px;
		width: 100%;
		line-height: 21px;
	}

	.form {
		width: 100%;
		height: fit-content;
		padding: 15px;
	}

	.form h2 {
		font-family: 'Poppins', sans-serif;
		font-size: 34px;
		margin-bottom: 25px;
	}

	/* .form p {
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
	} */

	.input-field {
		margin-top: 20px;
		/* border: 1px solid black; */
		height: fit-content;
		padding-top: 0;
	}

	.input-field label {
		font-size: 16px;
	}

	.input {
		width: 100%;
		position: static;
	}

	.form .note {
		width: 100%;
		margin-left: 0;
		margin-top: 5px;
	}

	.input-icon {
		top: 40px;
		right: 20px;
	}

	.textarea {
		resize: none;
		height: 181px;
		padding-top: 15px;
	}

	.send {
		bottom: 30px;
		right: 25px;
	}
}
